* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #fff6dd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pikachu {
  position: relative;
  width: 300px;
  height: 500px;
}
.ear {
  position: absolute;
  width: 60px;
  height: 120px;
  background: #fcd200;
  top: 0;
  border-radius: 60% 60% 0 0;
  transform-origin: bottom center;
  z-index: 1;
}
.ear.left {
  left: 20px;
  transform: rotate(-25deg);
  border-top: 40px solid black;
  margin-left: 30px;
}
.ear.right {
  right: 20px;
  transform: rotate(25deg);
  border-top: 40px solid black;
  margin-right: 30px;
}
.head {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  height: 200px;
  background: #fcd200;
  border-radius: 50% / 40%;
  z-index: 2;
}
.eye {
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 70px;
}
.eye.left {
  left: 40px;
}
.eye.right {
  right: 40px;
}
.shine {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 8px;
}
.cheek {
  width: 35px;
  height: 35px;
  background: #ff4136;
  border-radius: 50%;
  position: absolute;
  top: 120px;
}
.cheek.left {
  left: 20px;
}
.cheek.right {
  right: 20px;
}
.nose {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.mouth {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.smile {
  width: 30px;
  height: 20px;
  border: 3px solid black;
  border-top: none;
  border-radius: 0 0 30px 30px;
  position: absolute;
}
.smile.left {
  left: -35px;
  margin: -20px;
  margin-left: 8px;
}
.smile.right {
  right: -35px;
  margin: -20px;
  margin-right: 8px;
}
.body {
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 200px;
  background: #fcd200;
  border-radius: 50px / 30px;
  z-index: 1;
}
.belly {
  width: 80px;
  height: 100px;
  background: #ffea70;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.arm {
  width: 40px;
  height: 70px;
  background: #fcd200;
  position: absolute;
  top: 20px;
  border-radius: 50px;
}
.arm.left {
  left: -20px;
  transform: rotate(-10deg);
  margin-left: -15px;
}
.arm.right {
  right: -20px;
  transform: rotate(10deg);
  margin-right: -15px;
}
.foot {
  width: 40px;
  height: 20px;
  background: #fcd200;
  position: absolute;
  bottom: -10px;
  border-radius: 50px;
}
.foot.left {
  left: 20px;
}
.foot.right {
  right: 20px;
}
.tail {
  width: 20px;
  height: 100px;
  background: #fcd200;
  position: absolute;
  right: -30px;
  top: 30px;
  transform: rotate(40deg);
  border: 10px solid #fcd200;
  border-left: none;
  border-right: none;
  z-index: 0;
  margin-top: 40px;
}
