*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #054138;
}
.main-box{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: white;
    overflow: visible;
    background: transparent;
}
.head{
    position: relative;
    top: -150px;
    left: 300px;
    width: 100px;
    height: 100px;
    background-color: #fed32e;
    border-radius: 40%;
    z-index: 10;
    overflow: hidden;
}
.eye1{
    position: relative;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: black;
    left: 33px;
    top: 50px;
    animation: blink 7s step-end infinite both;
}
.eye1::before {
  content: "";
  position: relative;
  height: 5px;
  width: 5px;
  background: white;
  left: 8px;
  top: 6px;
  border-radius: 50%;
}
.eye2 {
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: black;
  left: 65px;
  top: 35px;
  animation: blink 7s step-end infinite both;
}
.eye2::before {
  content: "";
  position: absolute;
    height: 5px;
    width: 5px;
    background: white;
    left: 8px;
    top: 6px;
    border-radius: 50%;
}
.nose{
  position: absolute;
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: black;
  left: 55px;
  top: 70px;
  transform: rotate(-45deg);
}
.nose::before,
.nose::after {
  content: "";
  background-color: black;
  border-radius: 50%;
  height: 6px;
  position: absolute;
  width: 6px;
}
.nose::before {
  top: -4px;
  left: 0px;
}
.nose::after {
  left: 4px;
}
.tongue {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: red;
  left: -8px;
  top: 3px;
  left: -8px;
  top: 3px;
}
.mouth {
  position: relative;
  height: 10px;
  width:    10px;
  border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  background: black;
  left: 54px;
  top: 50px;
  overflow: hidden;
}
.cheek {
  border-radius: 50%;
  position: absolute;
  top: 60px;
  height: 35px;
    width: 35px;
    border-radius: 50%;
    background: red;
}
.cheek::after {
  content: "";
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: red;
  left: 80px;}
.left-ear{
  position: relative;
  height: 100px;
  width: 35px;
  background: black;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  left: 282px;
  top: -20px;
  overflow: hidden;
  z-index: 9;
  transform: rotate(-35deg);
  animation: ear-rotate 7s step-end infinite both;
}
.left-ear-in {
  position: absolute;
  height: 80px;
  width: 50px;
  background: #EEC900;
  border-top-left-radius: 100%;
  bottom: 0px;
  left: -10px;
}
.right-ear {
  position: relative;
  height: 100px;
  width: 35px;
  background: black;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  left: 340px;
  top: -125px;
  overflow: hidden;
  transform: rotate(-35deg);
  animation: ear-rotate 7s step-end infinite both;
  
}
.right-ear-in {
  position: absolute;
  height: 80px;
  width: 50px;
  background: #EEC900;
  border-top-left-radius: 100%;
  bottom: 0px;
  left: -10px;
}
.body {
  position: absolute;
  height: 120px;
  width: 140px;
  background: #EEC900;
  top: 10px;
  right: 70px;
  z-index: 8;
  border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 20%;
}
.leg-front-right {
  position: absolute;
  height: 80px;
  width: 40px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #EEC900;
  top: 91px;
  right: -5px;
  z-index: 9;
  transform: rotate(-30deg);
}
.leg-front-left {
  position: absolute;
  height: 80px;
  width: 40px;
  border-bottom-right-radius: 50%;
 border-bottom-left-radius: 50%;
  background: #EEC900;
  top: 100px;
  left: 280px;
  z-index: 11;
  transform: rotate(-30deg);
}
.leg-back {
  position: absolute;
  height: 80px;
  width: 40px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #EEC900;
  top: 75px;
  left: 190px;
  z-index: 7;
  
}
.tail {
  position: relative;
  height: 10px;
  width: 100px;
  background: transparent;
  overflow: visible;
  top: -200px;
  left: 120px;
  transform: rotate(-30deg);
  transform: rotate(var(--tail-rotate));
  transform-origin: 60% 40%;
  animation: wag-tail 4s step-end infinite both;
}
.t1 {
  position: absolute;
  height: 60px;
  width: 10px;
  background: #923B12;
  right: 0;
  bottom: 0;
}
.t2 {
  position: absolute;
  height: 27px;
  width: 17px;
  background: linear-gradient(#923B12, #EEC900);
  transform: rotate(90deg);
  right: 12px;
  bottom: 38px;
}
.t3 {
  position: absolute;
  height: 50px;
  width: 20px;
  background: #FFD700;
  right: 34px;
  bottom: 44px;
}
.t4 {
  position: absolute;
  height: 80px;
  width: 35px;
  background: #FFD700;
  transform: rotate(90deg);
  right: 56px;
  bottom: 60px;
}
